{
    "arrowParens": "always",
    "bracketSameLine": false,
    "objectWrap": "preserve",
    "bracketSpacing": false,
    "semi": false,
    "experimentalOperatorPosition": "start",
    "experimentalTernaries": false,
    "singleQuote": false,
    "jsxSingleQuote": true,
    "quoteProps": "as-needed",
    "trailingComma": "all",
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "vueIndentScriptAndStyle": false,
    "proseWrap": "preserve",
    "insertPragma": false,
    "printWidth": 80,
    "requirePragma": false,
    "tabWidth": 4,
    "useTabs": false,
    "embeddedLanguageFormatting": "auto",
    "cursorOffset": 0
}